{% extends "clinica/user/base_user.html" %}
{% load static %}

{% block title %}Home - Cliente{% endblock %}

{% block content %}

<section class="welcome-card">
    <h1>Bem-vinda, {{ request.user.get_full_name }}</h1>
    <p>Cuidar do seu pet com carinho e profissionalismo é a nossa prioridade</p>

    <img class="floating-dog" src="{% static 'images/clinic1.png' %}">
</section>

<section class="card">
    <h3>📌 Aviso Importante</h3>
    <p>A clínica abre às 08:00 e fecha às 18:00</p>
    <p>A clínica entra de recesso todo ano nos meses de julho e dezembro</p>
</section>

<section class="card">
    <h3>🐾 Curiosidades</h3>
    <ul>
        <li>O focinho de cada cachorro é único, como a impressão digital das pessoas.</li>
        <li>Gatos ronronam também para se acalmarem</li>
        <li>Coelhos giram as orelhas em até 180°</li>
        <li>Hamsters memorizam labirintos com facilidade</li>
    </ul>
</section>

{% endblock %}
