<script>
    function toggleEdit(sectionName) {
        const readOnlyBlock = document.getElementById('read-only-' + sectionName);
        const editFormBlock = document.getElementById('edit-form-' + sectionName);

        if (editFormBlock.style.display === 'none' || editFormBlock.style.display === '') {
            
            readOnlyBlock.style.display = 'none';
            editFormBlock.style.display = 'block';
        } else {
            
            readOnlyBlock.style.display = 'block';
            editFormBlock.style.display = 'none';
            
            
            
        }
    }

    
    document.addEventListener('DOMContentLoaded', function() {
        const errors = document.querySelectorAll('#edit-form-perfil .error-message');
        if (errors.length > 0) {
            toggleEdit('perfil');
            
            const alert = document.querySelector('.alert-error');
            if (alert) alert.remove();
        }
    });
</script>