{% extends "clinica/base.html" %}
{% load static %}

{% block title %}Login - SerraVetClinic{% endblock %}

{% block content %}
<div class="login-page-wrapper">
    
    <div class="login-form-area">
        <div class="login-container">
            <div class="login-avatar"></div>
            <h2>SerraVetClinic</h2>
            <p class="subtitle">Cuidando do seu melhor amigo</p>

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                <label for="email">Email</label>
                <input type="email" id="email" name="username" placeholder="seu@email.com" required>

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="password" placeholder="********" required>

                <div class="esqueci-senha">
                    <a href="{% url 'reset_password' %}">Esqueceu a senha?</a>
                </div>

                <button type="submit" class="btn-entrar">Entrar</button>
            </form>

            <p class="novo-cliente">
                Novo cliente? <a href="{% url 'cadastro' %}">Criar conta</a>
            </p>
        </div>
    </div>
    
    <div class="login-image-area">
        <img src="{% static 'images/home3.jpg' %}" alt="Cachorro e Gato na grama">
    </div>
</div>
{% endblock %}
