{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portal do Veterinário{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style_vet.css' %}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body> 

<header class="header-waves">   
    <div class="header-content">   
         <div class="logo">SerraVet</div> 
          <div class="user-info">
            <span>{{ request.veterinarioperfil.get_full_name }}</span>
        </div>
    </div>
</header>

<div class="layout">
    <aside class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="{% url 'home_vet' %}" class="{% if request.resolver_match.url_name == 'home_vet' %}active{% endif %}">Início</a></li>
            <li><a href="{% url 'lista_consultas_vet' %}" class="{% if request.resolver_match.url_name == 'lista_consultas_vet' %}active{% endif %}">Consultas</a></li> 
            <li class="logout-item">
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %} 
                <button type="submit" class="btn-sidebar-logout">Sair</button>
                </form>
            </li>
        </ul>
    </aside>

                <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>