{% extends "clinica/vet/base_vet.html" %}
{% load static %}

{% block title %}Veterinário{% endblock %}

{% block content %}
    <div class="container">
        <h1>Bem-vindo, Dr(a). {{ request.user.nome }}!</h1>
        <p>Visão geral de seus compromissos e tarefas.</p>

        <div class="cards">
            
            <div class="card card-inprogress">
                <h3>Consultas em Andamento</h3>
                <p>{{ count_em_andamento }}</p>
                <small>Em atendimento no momento</small>
            </div>

            <div class="card card-scheduled">
                <h3>Consultas Marcadas</h3>
                <p>{{ count_marcadas }}</p>
                <small>Total agendadas (Hoje e Futuras)</small>
            </div>
            
            <div class="card card-pending">
                <h3>Prontuários Pendentes</h3>
                <p>{{ count_prontuarios_pendentes }}</p>
                <small>Consultas a serem documentadas</small>
                {% if count_prontuarios_pendentes > 0 %}
                    <a href="{% url 'lista_consultas_vet' %}?prontuario_status=PENDENTE" class="card-action-link">
                        Ver Pendentes →
                    </a>
                {% endif %}
            </div>

        </div>

        <section class="card">
            <h2>Próximas Consultas (Top 5)</h2>

            {% if proximas_consultas %}
                <ul class="lista-consultas">
                    {% for consulta in proximas_consultas %}
                        <li class="consulta-item-{{ consulta.status|lower }}">
                            <div class="consulta-info-wrap">
                                <p>
                                    <strong>{{ consulta.horario_agendado.data|date:"d/m/Y" }}</strong> às 
                                    <strong>{{ consulta.horario_agendado.data|date:"H:i" }}</strong> - 
                                    Pet: <strong>{{ consulta.pet.nome }}</strong> (Tutor: {{ consulta.pet.tutor.get_full_name }})
                                </p>
                                <p class="motivo-status">
                                    <span class="status-badge status-{{ consulta.status|lower }}" >{{ consulta.get_status_display }}
                                    </span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div style="margin-top: 20px;">
                     <a href="{% url 'lista_consultas_vet' %}" class="btn-ver-todas">
                        Ver Todas as Consultas → 
                    </a>
                </div>

            {% else %}
                <p>Nenhuma consulta marcada ou em andamento no momento.</p>
                <a href="{% url 'lista_consultas_vet' %}" class="btn-ver-todas">
                    Ver Histórico Completo
                </a>
            {% endif %}
        </section>
        
    </div>
{% endblock %}