{% extends "clinica/atd/base_atendente.html" %}
{% block title %}Editar Horário{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<h2>{% if horario %}Editar Horário{% else %}Criar Horário{% endif %}</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">
        {% if horario %}Atualizar{% else %}Criar{% endif %}
    </button>
    <a href="{% url 'home_atendente' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
